.modal-xl .modal-lg {
  max-width: 100% !important;
}

agm-map {
  height: 800px !important;
}

.BackColorTable{
  background-color: #b5b5b521
}


.BackColorTable td{
  color: blue;
  font-weight: bold;
}