.Logo_changes{
    width: 100% !important;
    height: 106px !important;
    // background: linear-gradient(87deg, #1d1b1b 0, #7c6a4a 100%) !important;
    background:  linear-gradient(87deg, #ffffff 0, #ffffff 100%) !important;
    border-radius: 0 !important;
    margin: -16px -24px !important;
    position: absolute !important;
    padding: 15px !important;
}

.inside_logo{
    background-color: #ffffff !important;
    padding: 32px !important;
    border-radius: 10px !important;
}

.navbar-vertical.navbar-expand-md .navbar-collapse {
        padding: 53px 6px 4px 28px !important;
}