/* You can add global styles to this file, and also import other style files */


.node {
		cursor: pointer !important;
	}

.link {
	fill: none !important;
	stroke: #ccc !important;
	stroke-width: 2px !important;
}

html {
  scroll-behavior: smooth !important;
}

.navbar-vertical .navbar-brand-img, .navbar-vertical .navbar-brand > img {
    max-width: 100%  !important;
    max-height: 6rem !important;
}


// .bg-gradient-danger {
//     background: linear-gradient(87deg, #1d1b1b 0, #7c554a 100%) !important;
// }

.header .bg-gradient-danger .pb-8 .pt-5 .pt-md-8{
	// background: linear-gradient(87deg, #383334 0, #f56036 100%) !important;
}


.jqx-grid-column-header {
	font-weight: bold !important;
	color: #3a3838 !important;
}